* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color:white;
}
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: grey;
    display: flex;
    justify-content: space-between;
}
header h1 {
    
    font-size: 48px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: white;
    text-decoration: none;
}
p {
    font-size: 16px;
}
.wire {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Module-2/assets/pathway.jpg");
    background-size: cover;
    background-position: center;
    
}

.float-left {
    float: left;
    margin-right: 25px;
    font-size: 50px;
    color: darkgrey;
} 
.float-right {
    float: right;
    margin-left: 25px;
}
.content {
    width: 100%;
    display: inline;
    margin-left:block;
}
.About-me {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:slategrey;
    color: black;
    min-height: 75px;
    margin-bottom: 100px;
    
}
.work{
    background-color: darkcyan;
}

.image1{
    width: 40%;
    border:2px red solid;
}

.image2{
    width: 40%;
    border:2px black solid;
    border-style: ridge;
    display: block;
}
.image2:hover{
background-color:lightcyan;


}
.image3{
    width: 40%;
    border:2px blue solid;
    border-style: groove;
}
.image3:hover{
    background-color: grey;
    box-shadow: #2a607c;
}
.flex-container{
     display: flex;
     flex-wrap: wrap;
}
.Contact-me{
    background-color: #2a607c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: white;
    min-height: 100px;
    margin-bottom: 100px;
}
header nav, .footer nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header nav ul, .footer nav ul {
    list-style-type: none;
    
}
header nav ul li, .footer nav ul li {
    display: inline-block;
    margin-left: 10px;
    text-decoration: underline;
}
header, .footer {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: white;
    display: flex;
    justify-content: space-between; 
    
    }
